.logo_central{
	float: left;
	margin: 1%;
	width: 100%;
}

.logo{
	float: left;
	width: 10%;

}

.menu_central{
	float: left;
	margin-top: -8.5%;
	margin-left: 13%;
}

.fonte{
	font-family: arial;
	font-size: 40px;
}

.float form{
	float: right;
	margin-left: 75%;
	margin-top: -10%;
	margin-right: 1%;
	font-family: arial;
}

.#logo{
	margin-top: 2%;
	width: 25%;
	float:left;
	margin-bottom: 2%;
}

#nome_site{
	padding-left: 10%;
	margin-top: 12%;	
	width: 60%;
	float: left;
	color: #0f5374;
	font-family: Arial;
	font-size: 30px;

}

.menu{
	margin-top: 0.5%;
	width: 100%;	
}

.item.menu{
	width: 22.49%;
	float: left;
	font-size: 115%;
	border: 1px solid #048a60;
	text-align: center;
	padding: 1.2%;
	background-color:  #048a60;
	color: #ffffff;
}